# Development auth settings
DEV_WEB_CALLBACK_URLS="http://localhost:5173/auth/callback,http://localhost:5173"
DEV_WEB_LOGOUT_URLS="http://localhost:5173"
DEV_GOOGLE_CLIENT_ID=""
DEV_GOOGLE_CLIENT_SECRET=""
